{{>header}}
<div class="container">

    <main class="container-fluid">
        <h1 class="text-center mb-5 mt-5" >Doberman Pincher</h1>
            <h2>Characteristic</h2>
            <p>Doberman Pinschers are strong, energetic dogs that need plenty of exercise. If they don't practice it, they are likely to become irritable or even aggressive. Careful socialization and obedience training from a very young age are essential, males are about 60cm long and weigh about 32kg, while females are somewhat smaller. The Doberman has a long, slender head and a muscular body, their ears are usually cropped to keep them upright, and the tail is usually docked to keep it short. It has short, straight, shiny fur that is black, dark red, blue, or fawn with rust-colored markings on the face, body, and tail. The shedding of this dog, which requires very little grooming, is average. Dobermans live approximately 10 to 12 years.
            </p>
        <h2>Personality</h2>
        <p>Dobermans are considered attentive, affectionate and sweet dogs with people, as long as they are properly socialized and trained. They are loyal to their owners and get along well with children if they grow up together; however, some Dobermans become attached to only one person.
        </p>
        <h2>Coexistence</h2>
        <p>Dobermans are strong, energetic dogs that need plenty of exercise. If they don't practice it, they are more likely to become irritable or even aggressive. They can adapt well to life in an apartment if they exercise daily.
        Careful socialization and obedience training from a very young age are essential for this breed. Dobermans respond very well to positive reinforcement.
        No special protection training is needed for someone who wants a good family protector. In fact, Doberman experts often advise against protection training, as it could lead to overprotection and aggression.
        </p>
        <h2>History</h2>
        <p>The development of this breed, at the end of the 19th century, is attributed to a German named Louis Dobermann, a tax collector who wanted a fierce guard dog to accompany him on his visits. Dobermann also ran the local kennel, where he had access to many stray animals.
        No one knows for sure, but it is believed that Dobermans crossed many breeds to get the Doberman. Some of the breeds you could have used are Rottweilers, German Pinschers, Great Danes, German Shepherds, Manchester Terriers, Greyhounds, and Sheepdogs.
        Although initially bred and still used around the world as guard dogs, Dobermans have also been used as police and military dogs, rescue dogs, and therapy dogs.
        </p>
    </main>
</div>
    <div class="container text-center mt-5">
  <div class="row">
    <div class="col">
        <img class="img-fluid img-thumbnail" src="/images/1.jpg" alt="aside doberman dog">
    </div>
    <div class="col">
        <img class="img-fluid img-thumbnail" src="/images/2.jpg" alt="laydown doberman dog">
    </div>
    <div class="col">
        <img class="img-fluid img-thumbnail" src="/images/3.jpg" alt="front doberman dog">
    </div>
  </div>
</div>
