{{>header}}
<div class="login-container">
<h2 class="contact">Login</h2>
<form action="/users/login" method="POST">
                    <ul>
                        <li>    
                            <label class="mt-2" for="user_email">Email:</label>
                        </li>
                        <li>
                            <input type="text" id="user_email" name="email" name="username" class="form-control" autofocus>
                        </li>
                        <li>    
                            <label class="mt-2" for="password">Password:</label>
                        </li>
                        <li>
                            <input type="password" id="password" name="pass" class="form-control">
                        </li>
                    <p class="warning mt-1">
                    {{message}}
                    </p>
                        <div class="row mt-3">
                            <div class="col">
                                <li class="button">
                                <button class="btn btn-primary" type="submit">Login</button>
                                </li>   
                            </div>
                            <div class="col text-end">
                                <li class="button">
                                <a href="/users/register" class="btn btn-warning">I don't have an account</a>
                                </li>   
                            </div>
                        </div>
                    </ul>
                </form>
</div>