{{>header}}
<h1 class="text-center mt-5">No Auth</h1>
<div class="text-center">
<p>You need to be logged in to see private routes</p>
<p>Please <a href="/users/login">login</a> or <a href="users/register">register</a> an account</p>
<img class="img-fluid bt-5 no-auth" src="/images/no auth.png" alt="aside doberman dog">
</div>
