{{>header}}
<div class="text-center">
<h1 class="text-center mt-3 mb-5">Secret Section</h1>
<img class="img-fluid bt-5 secret mt-3 mb-5" src="/images/topsecret.webp" alt="secret section">
<h3 class="text-center mb-4">Hi {{user}}</h3>
<a class="btn btn-primary" href="/users/settings">Edit user</a>
<a class="btn btn-warning" href="/users/logout">Logout</a>
</div>
